<mat-form-field>
    <mat-label>Numero de registros</mat-label>
    <input type="number" matInput>
</mat-form-field>
      
<button mat-raised-button color="primary" class="btn-left">
    Agregar
</button>
<mat-grid-list cols="5" rowHeight="80px">
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Login">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Cedula">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Perfil</mat-label>
            <mat-select>
                <mat-option>
                    Asesor
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Nombre">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Login">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Cedula">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Perfil</mat-label>
            <mat-select>
                <mat-option>
                    Asesor
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>
<button mat-fab
        color="primary"
        class="button-plus"
        matTooltip="Agregar fila"
        matTooltipPosition="left">
    <i class="material-icons">
        add
    </i>
</button>

