.flex{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
    margin: 20px 0;
}

table{
    width: 100%;
}

tr{
    height: 57px!important;
}

.mat-footer-row .mat-footer-cell{
    justify-content: center;
    font-style: italic;
    text-align: center;
}

.mat-sort-header-container {
    align-items: center;
  }