<section id="wrapper" class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body flex">
            <form class="form-horizontal form-material" id="loginform" action="index.html">
                <div class="logo-title-container">
                    <img src="assets/img/logo.png" alt="" class="logo">
                    <h4 class="text-center title-login">INICIAR SESIÓN</h4>
                </div>
                <mat-grid-list cols="1" rowHeight="1:1">
                    <mat-form-field appearance="fill">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="Usuario">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Contraseña" type="password">
                    </mat-form-field>
                </mat-grid-list>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button mat-raised-button color="primary" class="btn-acceder">ACCEDER</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>