.button-plus{
    float: right;
    outline: 0;
    /* box-shadow: none; */
} 

.container-register{
    margin: 20px 0;
}

.mat-form-field{
    width: 100%;
}

.mt-4{
    margin-top: 30px;
}

.ml-2{
    margin-left: 8px;
}
.flex{
    width: 100%;
    /* display: flex; */
}

.button-delete{
    position: absolute;
    z-index: 10000;
    top: 13%;
    right: -50px;
    opacity: 0.3;
}

label[for="file-input"] {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  color: #fff;
  opacity: .9;
  font-weight: bold;
}

input[type="file"] {
  cursor: pointer !Important;
}
input[type="file"]::-webkit-file-upload-button {
    background-color: #2962ff;
    color: white;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}


body {
  margin: 2em;
  background: #292931;
  font-family: 'Arimo', sans-serif;
  color: #fff;
}

hr {
  opacity: .3;
  margin: 2em 0;
}

.container-excel{
  margin-top: 50px;
  margin-bottom: 20px;
}
.link-excel{
  display: flex;
  align-items: center;
}
.link-excel strong{
  margin-right: 10px;
}