<div class="container-register">
    <mat-form-field>
        <mat-label>Numero de registros</mat-label>
        <input type="number" matInput #input id="input">
    </mat-form-field>
    <button mat-stroked-button color="primary" (click)="agregarNumRows(input.value)">
        Agregar fila
    </button>
</div>
<div class="flex">
<form (ngSubmit)="register(form)" #form="ngForm">
    <mat-grid-list *ngFor="let groupForm of registerArray; let i = index" rowHeight="80px" (window:resize)="onResize($event)" [cols]="breakpoint">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Nombre Completo</mat-label>
                <input  matInput
                        type = "text"
                        placeholder = "Nombre Completo"
                        name = "fullName_{{i}}"
                        [(ngModel)]="groupForm.fullName"
                        required
                        #fullnames = ngModel>
                        <mat-error *ngIf="fullnames.errors?.required"> 
                            Nombre completo inválido
                        </mat-error> 
            </mat-form-field>
        </mat-grid-tile> 

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Login</mat-label>
                <input  matInput 
                        type = "text"
                        placeholder="Login"
                        name = "login_{{i}}"
                        [(ngModel)]="groupForm.login"
                        #login = ngModel
                        required>
                       
                        <mat-error *ngIf="login.errors?.required"> 
                            Login inválido
                        </mat-error> 
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Cedula</mat-label>
                <input  matInput
                        type = "number"
                        placeholder="Cedula"
                        name = "identification_{{i}}"
                        [(ngModel)]="groupForm.identification"
                        required
                        #identification_ = ngModel>
                       
                        <mat-error *ngIf="identification_.errors?.required"> 
                            Cedula inválida
                        </mat-error>
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Correo</mat-label>
                <input  matInput 
                        placeholder="Correo"
                        type = "email"
                        name = "email_{{i}}"
                        [(ngModel)]="groupForm.email"
                        required
                        #email = ngModel>
                        <mat-error *ngIf="email.errors?.required"> 
                            Correo inválido
                        </mat-error>
            </mat-form-field>
        </mat-grid-tile>
        
        <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Perfil</mat-label>
                        <mat-select name = "profile_{{i}}"
                                    required
                                    [(ngModel)]="groupForm.profile"
                                    #profile = ngModel
                                    (selectionChange)="saveProfile()">
                            <mat-option>--</mat-option>
                            <mat-option value="0">
                                Asesor
                            </mat-option>
                            <mat-option value="1">
                                Supervisor
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="profile.errors?.required"> 
                            Perfil inválido
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <button mat-button matSuffix mat-icon-button class="button-delete" type="button" (click)="deleteRow(i)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-grid-list>
            <button mat-raised-button color="primary" type="submit" class="mt-4">
                Registrar
            </button>
        </form>
        </div>
<button mat-fab
        color="primary"
        class="button-plus"
        matTooltip="Agregar fila"
        matTooltipPosition="left"
        (click)="addRow()">
    <i class="material-icons">
        add
    </i>
</button>

