<div class="container-register">
    <mat-form-field>
        <mat-label>Numero de registros</mat-label>
        <input type="number" matInput>
    </mat-form-field>
    
    <button mat-raised-button color="primary" class="btn-left">
        Agregar
    </button>
</div>
<mat-grid-list cols="5" rowHeight="80px">
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Nombre Completo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Cedula</mat-label>
            <input matInput placeholder="Cedula">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select>
                <mat-option>
                    Asesor
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Nombre Completo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Cedula</mat-label>
            <input matInput placeholder="Cedula">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select>
                <mat-option>
                    Asesor
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Nombre Completo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Cedula</mat-label>
            <input matInput placeholder="Cedula">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select>
                <mat-option>
                    Asesor
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput placeholder="Nombre Completo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Login">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Cedula</mat-label>
            <input matInput placeholder="Cedula">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Correo">
        </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-form-field appearance="fill">
            <mat-label>Perfil</mat-label>
            <mat-select>
                <mat-option>
                    Asesor
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    
</mat-grid-list>
<button mat-fab
        color="primary"
        class="button-plus"
        matTooltip="Agregar fila"
        matTooltipPosition="left">
    <i class="material-icons">
        add
    </i>
</button>

