/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
*{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* .mat-tab-body-content, .mat-tab-body.mat-tab-body-active{
    overflow: visible!important;
} */
/* .mat-tab-body-content{
    overflow: visible!important;
} */
/* @media (max-width: 768px){

    .container {
        max-width: 720px;
    }
}

@media (max-width: 576px){

    .container {
        max-width: 540px;
    }
} */