/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
*{
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1100px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

mat-paginator{
    margin-bottom: 35px;
}
.sin_asignar{
    color:#6c757dce;
    font-style: italic;
}


